<a href="https://colab.research.google.com/github/Simi-Paxleal-J/rit_CLASS/blob/master/BostonLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import all the libraries required to do the analysis

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.datasets import load_boston

In [ ]:
X, y = load_boston(return_X_y=True)

In [ ]:
print(X.shape)
print(y.shape)

(506, 13)
(506,)

In [ ]:
X_pd = pd.DataFrame(X)
X_pd.head()

        0     1     2    3      4   ...   8      9     10      11    12
0  0.00632  18.0  2.31  0.0  0.538  ...  1.0  296.0  15.3  396.90  4.98
1  0.02731   0.0  7.07  0.0  0.469  ...  2.0  242.0  17.8  396.90  9.14
2  0.02729   0.0  7.07  0.0  0.469  ...  2.0  242.0  17.8  392.83  4.03
3  0.03237   0.0  2.18  0.0  0.458  ...  3.0  222.0  18.7  394.63  2.94
4  0.06905   0.0  2.18  0.0  0.458  ...  3.0  222.0  18.7  396.90  5.33

[5 rows x 13 columns]

In [ ]:
X_pd.describe()

               0           1           2   ...          10          11          12
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [ ]:
X_pd.skew()

0     5.223149
1     2.225666
2     0.295022
3     3.405904
4     0.729308
5     0.403612
6    -0.598963
7     1.011781
8     1.004815
9     0.669956
10   -0.802325
11   -2.890374
12    0.906460
dtype: float64

In [ ]:
Corr = X_pd.corr()
print(Corr)
Corr = pd.DataFrame(Corr)
Corr.to_csv('out.csv')

          0         1         2   ...        10        11        12
0   1.000000 -0.200469  0.406583  ...  0.289946 -0.385064  0.455621
1  -0.200469  1.000000 -0.533828  ... -0.391679  0.175520 -0.412995
2   0.406583 -0.533828  1.000000  ...  0.383248 -0.356977  0.603800
3  -0.055892 -0.042697  0.062938  ... -0.121515  0.048788 -0.053929
4   0.420972 -0.516604  0.763651  ...  0.188933 -0.380051  0.590879
5  -0.219247  0.311991 -0.391676  ... -0.355501  0.128069 -0.613808
6   0.352734 -0.569537  0.644779  ...  0.261515 -0.273534  0.602339
7  -0.379670  0.664408 -0.708027  ... -0.232471  0.291512 -0.496996
8   0.625505 -0.311948  0.595129  ...  0.464741 -0.444413  0.488676
9   0.582764 -0.314563  0.720760  ...  0.460853 -0.441808  0.543993
10  0.289946 -0.391679  0.383248  ...  1.000000 -0.177383  0.374044
11 -0.385064  0.175520 -0.356977  ... -0.177383  1.000000 -0.366087
12  0.455621 -0.412995  0.603800  ...  0.374044 -0.366087  1.000000

[13 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=12)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [ ]:
lr = LinearRegression()
lr.fit(X_train, Y_train)
preds_lr = lr.predict(X_train)

In [ ]:
print(lr.coef_)
print(lr.intercept_)

[-9.86523958e-02  4.67429816e-02  3.03589576e-02  3.01614165e+00
 -1.81186387e+01  3.73325846e+00  1.46988182e-02 -1.37756896e+00
  3.24385909e-01 -1.35548339e-02 -8.20105607e-01  9.09573893e-03
 -5.61054872e-01]
34.08963391356939

In [ ]:
from sklearn.metrics import mean_squared_error
mse_lr = mean_squared_error(Y_train, preds_lr)
rmse_lr = np.sqrt(mse_lr)
print('mean squared error is:',mse_lr)
print('root mean squared error is:',rmse_lr)

mean squared error is: 22.42787187609148
root mean squared error is: 4.735807415435247

Application of the model on the test data

In [ ]:
preds_lr_test = lr.predict(X_test)
mse_lr_test = mean_squared_error(Y_test, preds_lr_test)
rmse_lr_test = np.sqrt(mse_lr_test)
print('Test data MSE is:', mse_lr_test)
print('Test Data RMSE is:', rmse_lr_test)

Test data MSE is: 20.55805163422973
Test Data RMSE is: 4.534098767586534

Application fo Random Forest Regressor

---

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 200)
rf.fit(X_train, Y_train)
preds_rf_train = rf.predict(X_train)
preds_rf_test = rf.predict(X_test)
mse_rf_train = mean_squared_error(Y_train, preds_rf_train)
mse_rf_test = mean_squared_error(Y_test, preds_rf_test)
rmse_rf_train = np.sqrt(mse_rf_train)
rmse_rf_test = np.sqrt(mse_rf_test)
print('RMSE for Random Forest train is:', rmse_rf_train)
print('RMSE for Random Forest test is:', rmse_rf_test)

RMSE for Random Forest train is: 1.1542188579423318
RMSE for Random Forest test is: 3.2531463608479116